# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/workspace.xml

Python/.ipynb_checkpoints/Layman Brothers ML Flow-checkpoint.ipynb
Python/deep-learning/.ipynb_checkpoints/*
Python/machine-learning/.ipynb_checkpoints/*
Python/mlruns/*
Python/survival-analysis/.ipynb_checkpoints/*

.DS_Store
Python/.DS_Store
