# generate package module
setuptools >= 21.0.0

# testing
tox
pytest
pytest-cov

# load .env files automatically using python
python-dotenv
black

# log server
CMRESHandler==1.0.0

# database
sqlalchemy>=1.2.18
psycopg2==2.7.5