colorama
datmo
Flask
future
h5py
html5lib==0.9999999
ipykernel
jupyter 
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
keras
matplotlib 
mlflow
mock==1.0.1
nose==1.3.4
numpy==1.13.3 
opencv-python
pandas 
pep8==1.7.1
pickleshare==0.7.4
Pillow
psycopg2
pylint==1.8.2
pyparsing==2.0.3
pyspark
python-dateutil==2.4.0
pytz==2014.10
redis
requests
scikit-image
scikit-learn
scipy
six==1.10.0
sklearn 
sympy
tabulate
tensorflow-tensorboard==0.1.8
tensorflow==2.0.1
xgboost

